[flake8]
extend-ignore = E203, A003, VNE003, CCE001
per-file-ignores =
    __init__.py: F401
exclude =
    .git,
    __pycache__,
    migrations,
    venv,
    manage.py
max-complexity = 10
max-line-length = 79
